body {
background-color: rgb(177, 141, 177);
background-image: url(/assets/Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==.jpeg);
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Signika Negative', sans-serif;
}


  body>header {
    overflow: hidden;
    padding: 0.4em 0.4em;
}

body>header nav {
    float:right;
    display: inline-block;
}

body>header h1 {
    font-size: 3.5em;
    color:rgb(85, 43, 85);
    text-shadow: -1px -1px  #363131, 1px 1px 1px #000;
    opacity:inherit;
}
/*  */

